body{
    background-color: #edefef;
    font-family: poppins, sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 100px;
    margin: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: poppins, sans-serif;
    color: #333;
    align-content: center;
    text-align: center;
}

.button-container {
    display: flex;
    background-color: #550000;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    #420101 5px 10px 15px;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: #550000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a{ 
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #575757;
}

.close-btn {
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 2em!important;
    padding: 0!important;
}

.main-content {
    transition: margin-right 0.5s;
    padding: 20px;
}

.open-btn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.em;
    cursor: pointer;
    background: none;
    padding: 15px;
    border: none;
    color: #550000;
    border-radius: 5px;
}

@media(max-width: 768px){
    .sidebar{
        width: 100%!important;
    }
    .myChart{
        width: 100%!important;
    }
}


canvas {
    width: 100% !important; 
    height: auto !important; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffeaea;
    color: rgb(105, 24, 24);
    text-align: center;
    padding: 10px 0;
}
