*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif; 
    background-color: #efedef;
}

body{
    justify-content: center;
    align-items: center;
    margin:0;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    color: #13346a;
    
}

li{
    list-style: none;
    background: none!important;
    text-decoration: none!important;
}

a{
    text-decoration: none;
    color: #7593ba;
    font-size: 1rem;
}

a:hover{
    color: #7593ba;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: #13346a;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13346a;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    background: none;
}

.navbar .logo img {
    background: none; 
    display: block; 
}

.navbar .links{
    background: none;
    text-decoration: none;
    box-shadow: none; 
    display: flex;
    gap: 2rem;
    background: #13346a;
    font-weight: bold;
}

.navbar .links a {
    background: none;
    text-decoration: none;
    box-shadow: none; 
    color: #efedef; 
    padding: 0; 
    font-weight: bold;
}

.navbar .toggle_btn{
    color: #efedef;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    background: none; 
    border: none; 
    padding: 0; 
}

.navbar .toggle_btn i {
    background: none; 
    color: #efedef; 
}

.action_btn{
    background-color: #efedef;
    color:#13346a;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #7593ba;
}

.action_btn:active{
    scale: 0.95;
}

.menu {
    position: relative;
}

.submenu {
    display: none; /* Oculta el submenú por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background: #13346a;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-width: 200px;
    padding: 1rem;
    list-style: none;
    z-index: 1000;
}

.submenu li {
    padding: 0.5rem 1rem;
}

.submenu li a {
    color: #13346a;
    text-decoration: none;
    font-size: 1rem;
}

.submenu li a:hover {
    color: #7593ba;
}

.menu:hover .submenu {
    display: block; /* Muestra el submenú al poner el mouse*/
}

.dropdown_menu {
    display: none; /* Oculta el menú por defecto */
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: #13346a;
    backdrop-filter: blur(100%px) !important;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    display: block; /* Muestra el menú cuando tiene la clase 'open' */
    height: auto;
}

 .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a{
    color: #efedef;
    background: none;
    list-style: none;
    text-decoration: none;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none; /* Oculta los enlaces y el botón en pantallas pequeñas */
    }

    .navbar .toggle_btn{
        display: block; /* Muestra el botón de alternar */
    }

    .submenu{
        position: static;
        box-shadow: none;
    }
    
    .dropdown_menu {
        display: none; /* Oculta el menú desplegable por defecto */
    }

    .dropdown_menu.open {
        display: block; /* Muestra el menú desplegable cuando está abierto */
    }
}

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .myChart{
        width: 100%;
    }

}

.reloj{
    font-family: poppins, sans-serif;
    background: none;
    color: #111;
    padding: 20px;  
    text-align: center;
    width: 300px;
    margin: 0 auto 20px; 
    display: block; 
}

#fecha{
    font-size: 1.2em !important;
    margin-bottom: 10px !important;
}
#hora{
    font-size: 2em !important;
    font-weight: bold !important;
}

canvas {
    padding: 5%;
    width: 100% !important; 
    height: auto !important; 
}
