body{
    margin: 0;
    font-family: poppins, sans-serif;
}

h1{
    text-align: center;
    margin: 20px 0;
    font-size: medium;
    
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%; 
    max-width: 700%; 
}

canvas {
    width: 100% !important; 
    height: auto !important; 
}
